@import url('profile.css');

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.gallery-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}